*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}


nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
color:#E67E22;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav button{
background:#E67E22;
border:none;
padding:10px 18px;
color:white;
border-radius:8px;
cursor:pointer;
}


.hero{
height:90vh;
background:url('https://images.unsplash.com/photo-1504754524776-8f4f37790ca0') center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero-text{
background:rgba(0,0,0,0.5);
padding:40px;
border-radius:12px;
}

.hero h1{
font-size:48px;
}

.hero p{
margin:15px 0;
font-size:18px;
}

.hero-btn{
padding:12px 24px;
border:none;
background:#E67E22;
color:white;
border-radius:8px;
cursor:pointer;
}


.items{
padding:80px;
text-align:center;
}

.item-container{
margin-top:40px;
display:flex;
justify-content:center;
gap:30px;
}

.card{
width:260px;
border-radius:12px;
overflow:hidden;
box-shadow:0 4px 20px rgba(0,0,0,0.1);
background:white;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.card h3{
margin:10px 0;
}

.card p{
padding:0 10px 20px;
}


.about{
padding:80px;
background:#FFF5EB;
text-align:center;
}

.about-text{
max-width:700px;
margin:auto;
}

footer{
padding:20px;
text-align:center;
background:#E67E22;
color:white;
}
